.dashboardCont {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.dashChartCont {
    background-color: #fff;
    border: 1px solid rgb(201, 195, 195);
    border-radius: 5px;
    position: relative;
}
.dashAdInsText {
    padding: 15px;
    /* color: rgb(145, 140, 140); */
    border-bottom: 1px solid rgb(224, 220, 220);
}
.dashChartAdInsTextCont {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(224, 220, 220);
}
.dashToggle {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    cursor: pointer;
}
.dashDonutIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashDonutIcon.active {
    background-color: rgb(64, 152, 224);
    color: white;
}


/* Media Queries */


@media screen and (max-width: 1200px) {
    .dashboardCont {
        display: block;
    }
    .dashChartCont {
        height: 500px;
    }
    .dashChartCont {
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 400px) {
    .dashboardCont {
        margin: 0;
    }
}