.createAdsCont {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}
.createAdsSelectCont {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.createAdsSelectCont>div {
    padding-top: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.createAdsSelectCont>div:first-child {
    margin-right: 50px;
}
.createAdsImgCont {
    text-align: center;
}
.createTextAdCont {
    text-align: center;
    padding: 15px;
    background-color: rgba(235, 241, 243, 0.432);
}

.createAdsBtnCont {
    text-align: end;
    margin-top: 100px;
}


/* Media Queries */


@media screen and (max-width: 600px) {
    .createAdsSelectCont {
        flex-direction: column;
        align-items: center;
    }
    .createAdsSelectCont>div:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 400px) {
    .createAdsCont {
        padding: 10px;
        margin: 0;
    }
    .createAdsSelectCont>div {
        width: 100%;
    }
}